# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# PNPM
.pnpm-store/
.pnpm-debug.log

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# iOS
ios/build/
ios/Pods/
ios/Podfile.lock

# Android
android/app/build/
android/build/
android/gradle/
android/local.properties
android/.gradle/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# testing
coverage/

# Editors
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

app-example
